/* DEFAULTS
----------------------------------------------------------*/
html
{
    scrollbar-face-color: #BDDEFF;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #BBE3FD;
    scrollbar-3dlight-color: #BBE3FD;
    scrollbar-arrow-color: #333333;
    scrollbar-darkshadow-color: #ffffff;
    scrollbar-base-color: #eeeeee;
    z-index: 10px;
}
body
{
    font-size: 70%;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    margin: 0px;
    padding: 0px;
    color: black;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    cursor: hand;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: black;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #3a4f63;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}
.taboption
{
    background: url(../Styles/images/gd_hd_hd.png) repeat-x 50% 50%;
    font-size: 10px;
    height: 40px;
}
.tabbutton
{
    background: url(../Styles/images/gd_hd_hd_hd.png) repeat-x 50% 50%;
    height: 30px;
    margin-top: 10px;
    width: 100px;
    line-height: 30px;
    text-align: center;
}
.tabbutton a
{
    color: #2E6EAF;
    text-decoration: none;
}
.tabbutton a:hover
{
    color: #FC0036;
    text-decoration: none;
}
/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #83B3D8;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}



fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 200px;
    border: 1px solid #83B3D8;
}

input.passwordEntry
{
    width: 200px;
    border: 1px solid #83B3D8;
}

div.accountInfo
{
    width: 400px;
}
.lblLogin
{
    width: 100px;
}
.textdate
{
    width: 120px;
    border: 1px solid #83B3D8;
    background: url(images/DateTimePicker.gif) no-repeat right;
}
.textbox
{
    width: 120px;
    border: 1px solid #83B3D8;
}
.btnNormal
{
    border-style: none;
    border-color: inherit;
    border-width: 0px;
    color: black;
    background-image: url('images/btn.gif');
    width: 67px;
    height:22px;
    }
.btnHTML
{
    border-style: none;
    border-color: inherit;
    border-width: 0px;
    color: black;
    background-image: url('images/btn.gif');
    width: 67px;
    height: 22px;
}
.loginNormal
{
    border-style: none;
    border-color: inherit;
    border-width: 0px;
    color: black;
    background-image: url('images/btn.gif');
    width: 67px;
    height: 22px;
}
.lebel_undline
{
    text-decoration: underline;
}
.labelName
{
    font-weight: bold;
    text-align: right;
}
.myLineCenter
{
    border-right: #000000 0px solid;
    border-top: #000000 0px solid;
    border-left: #000000 0px solid;
    border-bottom: 1px solid #83B3D8;
    text-align: left;
    font-size: 85%;
}
.myLineFill
{
    border-right: #000000 0px solid;
    border-top: #000000 0px solid;
    border-left: #000000 0px solid;
    border-bottom: 1px solid #83B3D8;
    text-align: left;
    font-size: 80%;
    color: black;
    width: 120px;
}
.loginloadprocess
{
    position: absolute;
    right: 34%;
    top: 81%;
    width: 30px;
    height: 30px;
    z-index: 999;
}
.attach_body
{
    border: 1px solid #83B3D8;
    width: 100%;
}
.fileUpload
{
    border: 1px solid #83B3D8;
}
#Div_Header
{
    background-color: #E4EDFC;
    border: border-left:1px solid #6593CF;
    border-bottom: 1px solid #6593CF;
    border-right: 1px solid #6593CF;
    border-top: 0px solid #6593CF;
}
#Div_Header ul
{
    margin: 0px;
    list-style-type: none;
}
#Div_Header ul li
{
    background: url(images/2.jpg) repeat-x;
    height: 24px;
    line-height: 24px;
    color: #1E3FB2;
    font-size: 14px;
    font-weight: bolder;
    text-indent: 5px;
}


.subHeader
{
    background-image: url('../images/subheader_bg.png');
    background-repeat: repeat-x;
    height: 27px;
    font-weight: bold;
}
.subHeader div
{
    padding-top: 8px;
}
.attachment_head
{
    background-image: url('../images/subheader_bg.png');
    background-repeat: repeat-x;
    cursor: hand;
}
.div_task_sub {
    background-color:#FFE48D;
    cursor: hand;
}
.caption_head
{
    background-image: url('../images/subheader_bg.png');
    background-repeat: repeat-x;
    text-align: left;
    cursor: hand;
}
.div_flow
{
    width: 100%;
    text-align: center;
}
.Approve_Table
{
    background-color: #81B470;
}
/*----------------------------------------------------PO*/
.GridViewFix_Mstr
{
    width: 100%;
    height: auto;
    float: left; /*border: 1px solid #999999;*/ /*border-top: 1px solid #999999;*/
}
.GridViewFix_Head
{
    width: 100%;
    overflow-x: hidden;
    background: url(images/grid/header.png) repeat-x 0 0;
    font: 8pt;
}
.GridViewFix_Head table
{
    width: 95%;
}
.GridViewFix_Head table td
{
    /*border-right: 1px solid #999999;     border-bottom: 1px solid #999999;*/
    height: 20px; /*text-align: center;*/ /*background: url(images/grid/header.png) repeat-x 0 0;*/
}
.GridViewFix_Detail
{
    width: 100%;
    height: 500px; /*border-bottom: 1px solid #999999;     border-right: 1px solid #999999;     background: #fff;*/
    overflow: auto;
    font-size: 8pt;
}
.GridViewFix_Detail table
{
    width: 95%;
}
.GridViewFix_Detail table td
{
    height: 20px; /*border-bottom: 1px solid #999999;     border-right: 1px solid #999999;     text-align: center;*/
}
/*---------------------------------------------------- PO*/
.emptydatatemplate
{
    border: 1px dashed #EAF2F9;
}
.div_overflow
{
    table-layout: fixed;
    word-break: keep-all; /* 不换行 */
    white-space: nowrap; /* 不换行 */
    overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow: ellipsis; /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
