

ul
{
    margin: 0;
    padding: 0;
}

li
{
    list-style: none;
    text-align: left;
}

/*li.menu
{
    width: 100%;
}*/

li.button a
{
    display: block;
    font-family: BPreplay,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 20px 0;
    position: relative;
    text-decoration: none;
    cursor:hand;
}

li.button a:hover
{
    text-decoration: none;
}


li.button a.root
{
    display: block;
    background: url(../images/nav_link.png) repeat-x top left;
    background-repeat: repeat-x;
    height: 22px;
    color: #074384;
}


li.button a:hover
{
    background-image: url('../images/nav_link_hover.png');
    background-repeat: repeat-x;
}


.dropdown
{
    display: none;
}

.dropdown li
{
    color: #CCCCCC;
    padding-top: 4px;
    display: block;
    font-size: 13px;
    height:20px;
    vertical-align:middle;
}
.dropdown li a
{
    background-image: url('../images/leaf.gif');
    background-repeat: no-repeat;
    padding-left: 20px;
    text-decoration: none;
    color:Black;
}
.dropdown li a:hover
{
    display: block;
    background-color: #FFE88C;
    border: solid 1px #D69C00;
    color:Black;
    height:20px;
    vertical-align:middle;
    line-height:20px;
}
a:hover
{
    text-decoration: underline;
    color:Black;
}

p
{
    padding: 10px;
    text-align: center;
}
/* COMMON */
	body, html
	{
		height:100%;
		/*margin: 0px auto;*/
		margin:0;
		padding:0;
		padding-bottom:-4px;
		
	}
	body
	{
		margin: 0px;
		text-align: left;
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 11px;
		background-color: #BDDEFF;
		background-image:url('../images/page_bg.png'); 
		background-repeat:repeat-x;
		min-width:980px;
	}
	.header{
		padding:15px 5px;
	}
	.header div{
		float:right;
		padding:5px 0px;
	}
	.header div a{
		color:black;
	}
		.header a{
		color:black;
		font:Arial;
	}
			.header a:hover{
		 text-decoration: none;
	}
	.header img, .navPanel img, .navSelect img{
		vertical-align:middle;
		margin:0px 5px 0px 0px;
		border:none;
	}
	.subHeader{
		background-image:url('../images/subheader_bg.png'); 
		background-repeat:repeat-x;
		height:27px;
		z-index:-9999999;
	}
	.subHeader div{
		padding:5px;
		font-size:14px;
		font-weight:bold;
		color:#10428C;
	}
	.clear{
		clear:both;
		float:none;
		height:0px !important;
		_width:0px;/*÷ªºÊ»›IE6*/
		_height:-5px;
	}
	.title{
		font-size:18px;
		font-weight:bold;
		padding:0px 5px;
	}
	/* TOOLBAR */
	.toolbar{
		height:25px;
		margin:0px 5px;
		background-image:url('../images/toolbar_bg.png'); 
		background-repeat:repeat-x;
		float:left;
	}
	.toolbarLeft{
		background-image:url('../images/toolbar_left.png'); 
		background-repeat:no-repeat;
		height:25px;
		width:7px;
		float:left;
	}
	.toolbarRight{
		background-image:url('../images/toolbar_right.png'); 
		background-repeat:no-repeat;
		height:25px;
		width:12px;	
		float:left;
	}
	.toolbarContent{
		padding:5px;
		float:left;
		height:20px;
	}
	
	.toolbarContent img{
		vertical-align:top;
		border:0px;
		margin-right:5px;
	}
	
	.toolbarContent a,.toolbarContent a:visited{
		padding:5px;
		color:#000000;
		text-decoration:none;
	}
	.toolbarContent a:hover{
		text-decoration:none;
	}
	/* NAVIGATION */
	.navigation{
		width:18%;
		_width:180px;/*ºÊ»›IE6*/
		height:80%;
		margin: 5px 1px 0px 5px !important;/*ºÊ»›IE7,IE8*/
		_margin: -33px 1px 0px 2.5px;/*ºÊ»›IE6*/
		border:solid 1px #6394CE;
		background-color:#ffffff;
		float:left;
		vertical-align:bottom;
		position:relative;
	}
	.navPanel{
		padding:10px;
		height:60%;
	}
	.navPanel a, .navPanel a:visited{
		padding:5px 5px;
		display:block;
		color:#000000;
		border:solid 1px #ffffff;
		text-decoration:none;
	}
	.navPanel a:hover{
		background-color:#FFE88C;
		border:solid 1px #D69C00;
	}
	.navSeparator{
		height:10px;
		background-image:url('../images/nav_separator.png'); 
		background-repeat:repeat-x; 
		background-position:center;
	}
	.navSelect{
		position:absolute;
		bottom:0px;
		width:100%;
	}
	.navSelect a{
		height:22px;
		display:block;
		padding:5px;
		background-image:url('../images/nav_link.png'); 
		background-repeat:repeat-x;
		font-weight:bold;
		text-decoration:none;
		color:#000000;
	}
	.navSelect a:hover{
		background-image:url('../images/nav_link_hover.png'); 
		background-repeat:repeat-x;
		color£∫#000000;
	}
	.divbar
	{
	    float:left;
	    width:0.4%;
	    vertical-align:middle;
	    cursor:hand;
        top:50%;
	    }
	/* CONTENT */
	.content{
		width:80%;
		_width:inherit;/*ºÊ»›IE6*/
		margin: 5px 5px 0px 0px !important;/*ºÊ»›IE7,IE8*/
		_margin: -33px 2px 0px 0px;/*ºÊ»›IE6*/
		background-color:#ffffff;
		border:solid 1px #6394CE;
		float:left;
	}
	.contentPanel{
		padding:2px;
	}